node_modules
.DS_Store
*.log
.local
.output
.temp
!/dist/src
/src

# Ignore dev-tool files except dist
dev-tool/.vscode
dev-tool/node_modules
dev-tool/src
dev-tool/public
dev-tool/*.json
dev-tool/*.ts
dev-tool/*.md
dev-tool/.gitignore
dev-tool/tsconfig.*.json
dev-tool/vite.config.ts
dev-tool/webpack.config.js
dev-tool/index.html
dev-tool/README.md
dev-tool/yarn.lock

# Ignore docs-website files except dist
docs-website
